.navbar-nav .nav-link {
  position: relative;
}

.navbar-nav .nav-link:before {
  content: "";
  position: absolute;
  width: 90%;
  height: 2px;
  margin-top: 23px;
  left: 0;
  background-color:azure;
  margin-left: 3px;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s linear;
  transform-origin: left center;
}

.navbar-nav .nav-link:hover:before {
  visibility: visible;
  transform: scaleX(1);
}

.card-link-unstyled {
  text-decoration: none;
  color: rgb(34, 31, 31);
}

.card:hover {
  transform: scale(1.03);
  transition: transform 0.3s ease;
  border: 1px solid darkcyan;
  
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btn {

  margin-top: 3px;
  

}





footer {

  display: flex;
  justify-content: center;
}

footer img {

  width: 40px;
  height: 40px;
}

footer a {
  
  margin: 20px;
  text-align: center;
  text-decoration: none;


}

.footer-text {

  color: black;
  font-family: monospace;
  font-weight: bold;
}

.row , iframe {
  display: flex;
  flex-direction: column;
}

@media (min-width: 576px) {
  .row , iframe {
    flex-direction: row;
  }
}

